/* change color later */
html{
    height: 100%;
}

body{
    height: 100%;
    overflow: hidden;
    background: url("../images/jungleBackground.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/* change colors later */
.container{
    width: 75%;
    height: 85%;
    margin: 3% auto;
    background: lightgoldenrodyellow;
    opacity: .97;
}

.game-title{
    height: 100px;
    width: 800px;
    margin: 0 auto;
    font-size: 38px;
    text-align: center;
}

.game-title img{
    height: 100%;
    width: 350px;
}

.answers{
    width: 350px;
    height: 310px;
    margin: 0 auto;
    /* display: none; */
}

#question{
    text-align: center;
    font-size: 24px;
    margin: 20px 0;
}

.questions-and-answers{
    height: 75%;
    width: 70%;
    margin: 0 auto;
}

.questions-and-answers img{
    margin: 50px auto 0;
}

#answerimage {
    text-align: center;
    font-size: 28px;
    margin-left: auto;
    margin-right: auto;
}

/* #answer1, #answer3{
    position: relative;
    left: 215px;
}

#answer2, #answer3, #answer4{
    position:relative;
    top: 50px;
} */

#start-button {
    margin-top: 100px;
    height: 55px;
    font-size: 32px;
}

button, #time-remaining{
    height: 45px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
}


#time-remaining{
    font-size: 24px;
    text-align: center;
    /* display: none; */
    padding: 10px;
}

button:hover{
    background-color: blue;
}

img{
    width: 220px;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
}

#answer1, #answer2, #answer3{
    margin-bottom: 10px;
}

#time-remaining, #answer1, #answer2, #answer3, #answer4{
    display: none;
}

#play-again{
    display: none;
}