/* change color later */
html{
    background: url("../images/animalkingdom.jpg");
    height: 100%;
}

body{
    height: 100%;
    overflow: hidden;
}



/* change colors later */
.container{
    width: 75%;
    height: 85%;
    margin: 3% auto;
    background: lightgoldenrodyellow;
}

.game-title{

    height: 50px;
    width: 800px;
    margin: 10px auto 0;
    font-size: 38px;
    text-align: center;
}

.answers{
    width: 450px;
    height: 310px;
    margin: 0 auto;
    /* display: none; */
}

.questions-and-answers{
    height: 75%;
    width: 70%;
    margin: 0 auto;
}

/* #answer1, #answer3{
    position: relative;
    left: 215px;
}

#answer2, #answer3, #answer4{
    position:relative;
    top: 50px;
} */

#start-button {
    position: relative;
    left: 215px;
    top: 40px;
    font-size: 28px;
}

button, #time-remaining{
    height: 45px;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
}


#time-remaining{
    font-size: 24px;
    text-align: center;
    /* display: none; */
    padding: 10px;
}

button:hover{
    background-color: blue;
}

img{
    width: 220px;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
}